body {
    font-family: 'RabbidHighwaySignIVRegular';
    background-color: #000200;
    color: #00ff00;
    text-shadow: 1px 1px 6px #2aff2a;
    height: 100%;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
	height: 98%;
	margin: 0.5%;
}

#main {
    opacity: 0.7;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 0;
}

h4 {
    text-align: right;
    margin: 0;
    margin-right: 5em;
    margin-bottom: 1em;
}

a {
    color: #22ff22;
}

.row {
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    background-color: #001000;
}

.no-padding {
	padding: 0;
}

.footer{
    font-size: 0.8em;
    min-height: 100px;
    height: 100px;
    margin-top: 50px;
}

#row-footer {
    text-align: left;
    padding: 0;
}

ul {
    text-align: left;
    list-style: none;
}

li {
    padding-top: 10px;
}

form {
    margin: 0;
    background-color: inherit;
}

.table {
    display: table;
    margin: auto;
    padding-bottom: 5px;
    text-shadow: 0px 0px 2px #2aff2a;
}

input {
    border: 0;
	text-shadow: 0px 0px 2px #2aff2a;
    background-color: inherit;
}

.code {
    font-family: 'CatV6x129Normal';
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    background-color: inherit;
    color: inherit;
}
